<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Gossip Project</title>
</head>

<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TheGossipProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/homepage/index">Gossip Feed</a>
      <a class="nav-item nav-link" href="/contact/index">Team</a>
    </div>
  </div>
</nav>
</header>
  <br>
  <br>
  <center>
    <h1>Gossip Girl</h1>
    <h2>Moussaillon Edition</h2>
    <p>Gossip Girl here, your one and only source into the scandalous lives of <strong>THP's moussaillon elite</strong>.</p>
    <img src="https://sarahscoop.com/wp-content/uploads/2022/04/gossipgirl_11.jpg" width="400" height="300">
    <h3>SPOTTED</h3>
    <br>
        GOSSIP COMING SOON
    <br>
    <p>Do you have your own hot tea on these naughty moussaillons? <a href="/gossips/new"><strong>SPILL IT, BIATCH !</strong></a></p>

    <p>You know you love me,</p> 
    <p><strong>XOXO Gossip Girl</strong></p>
    <img src="https://i.etsystatic.com/16421349/r/il/802fb6/3258404110/il_794xN.3258404110_mg65.jpg" width="150" height="150">
    </center>
    </div>
</body>
</html>