<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Gossip Project</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">TheGossipProject</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Team<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/homepage/index">Gossip Feed</a>
      <a class="nav-item nav-link" href="/#">Home</a>
        </nav>
      </header>
    </div>
  </div>
  <br>
  <br>
    <h1>Our Dedicated Team</h1>
    <div>
        <img src="https://www.pravojustice.eu/storage/app/media/Team/Kristin__Kirouac.jpg" height=300 width=200>
        <p><strong>Chief Gossip Officer</strong></p>
        <p>Ms. Kristin Kirouac<p>
        <p>kristin.kirouac@gossipproject.com</p>
        <p>+33 07 83 25 55 11</p>
    </div>
    <div>
        <img src="https://www.pravojustice.eu/storage/app/media/Team/Oksana_Tsymbrivska.jpg" height=300 width=200>
        <p>President (Queen), Ukraine Office</p>
        <h4>Ms. Oksana Tsymbrivska</h4>
        <p>oksana.tsymbrivska@gossipproject.com</p>
        <p>+38 095 500 70 44</p>
    </div>

</body>
</html>